html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-y: hidden; 
}
/* overflow-x hidden to hide the mobile menu and horizontal scroll bar with translateX(100%) move*/

a{
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

