html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    /* width: 100vw; */
    /* height: 100vh; */
    background-color:#27254a;
    padding: 75px 150px;
}

section {
    width: 26%;
    margin: 13px;
    border: 1px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    background-color: white;
    text-align: center;
}

.container {
    display: flex;
    padding: 50px 30px;
    background-color: #ebedefed;
    border: 1px;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .container {
    flex-direction: column;
    width: 90%;
    gap: 1%;
    }

    main {
        padding: 5%;
    }

    section {
    width: 100%;
    margin: 1% auto;
    }
}


h2 {
    padding: 12px;
    text-transform: uppercase;
    font-size: 16px;
}

h3 {
    padding: 30px 0px 5px;
    font-size: 35px;
}

sup {
    font-size: 25px;
    letter-spacing: 3px;
}

.month {
    font-size: 16px;
}

strong {
    text-transform: uppercase;
}

.content {
    font-size: 12px;
    line-height: 1.5;
    height: 2rem;
}

a {
    display: block;
    margin: 22px 0px;
    width: 100%;
    padding: 12px 0px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    color:black
}

a:hover {
    background-color: black;
    color: white;
}

#pro:hover {
    background-color: #ebedefed;
    color: black;
}

ul {
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0px;
    line-height: 1.7;
}

li {
    padding: 0px 10px;
}

.fa-check {
    color: green;
    font-size: 16px;
    letter-spacing: 5px;
}

.free {
    background-color: #ebedefed;
}

h2.pro {
    background-image: linear-gradient(to right, #c6e4fe, #b37bff);
    color: white;
}

#pro {
    background-color: #ebedefed;
    color: black;
}
.enterprise {
    background-image: linear-gradient(to right, #f6b0c0, #f4c96a);
    color: white;
}

.card {
    width: 800px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-radius: 5px;
}

.producttitle {
    color:red;
}
.btn {
    border-radius:5px;
    background-color: red;
    border:2px solid red;
    color:white;
}
.btn-primary {
    border:2px solid red;
}

.leftblock {
    display: block;
    width: 60%;
    float: left;
}
.rightblock {
    display: block;
    width: 40%;
    float: left;
}